<section>
  <user-details username="$ctrl.username"></user-details>
  <guess-the-word word="$ctrl.shuffledWord" on-submit="$ctrl.onEnterWord(word)"></guess-the-word>
  <time-remaining seconds="$ctrl.timeRemaining" max-time="$ctrl.maxTime" on-end-time="$ctrl.onEndTime()" on-tick="$ctrl.onTick(time)"></time-remaining>
  <div class="score-container">
    <span>Score: {{$ctrl.score}}</span>
  </div>
  <div class="game-over-screen container" ng-if="$ctrl.isGameOver">
    <h2>Your score is {{$ctrl.score}}</h2>
    <div>
      <div class="view-top-scores-link">
        <a ui-sref="scores">View top scores</a>
      </div>
      <button class="btn btn-success" ng-click="$ctrl.playAgain()">Play another game</button>
    </div>
  </div>
</section>