login-form {
  display: flex;
  justify-content: center;
  margin-top: 25%;

  .submit {
    border: 0;
    background-color: transparent;
    font-size: 22px;
    color: green;
  }

  .submit:disabled {
    color: #ccc;
  }
}